# Rename to .env for local development
SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=*
DATABASE_URL=postgresql://postgres.pjxiglxsyftbtfvlvatf:Max12072007!Maks@aws-1-eu-west-1.pooler.supabase.com:5432/postgres
